body {
  font-family: "Slack-Circular-Pro", "Helvetica Neue", Helvetica, "Segoe UI",
    Tahoma Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.flex-container {
  display: flex;
}

.width {
  max-width: 76.875rem;
  margin: auto;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin: auto;
}

header nav {
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: small;
}

header nav a {
  padding-left: 40px;
}

.no-white-bg {
  background-color: rgb(246, 239, 232);
}

.menu {
  margin: 0;
}

.menu a:first-child {
  padding-left: 0;
}

.btn-border {
  border: 1px solid rgb(74, 21, 75);
  border-radius: 5px;
  padding: 0.75rem 1rem;
  margin-left: 20px;
}

.sales {
  color: rgb(74, 21, 75);
  margin-left: 40px;
}

.sales:hover {
  box-shadow: inset 0 0 0 2px rgb(97, 31, 105);
}

.free {
  background-color: rgb(109, 32, 110);
  color: white;
}

.free:hover,
.free2:hover {
  background-color: rgb(74, 21, 75);
}

.free2 {
  background-color: rgb(109, 32, 110);
  color: white;
  font-weight: 700;
  font-size: small;
  margin-left: 0;
  padding: 19px 40px 20px;
  border: none;
}

.content {
  justify-content: space-between;
}

.about {
  flex-direction: column;
  margin: 0;
  width: 40%;
  flex-shrink: 0;
}

.about h1 {
  font-size: 4rem;
  margin-top: 1.5rem;
}

.google {
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 0;
  padding-right: 1rem;
  background-color: dodgerblue;
  font-weight: 700;
  font-size: small;
  border: none;
}

.google div:first-child {
  display: inline-block;
  text-align: center;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  margin: 0.2rem;
  margin-right: 0.5rem;
}

.google div {
  align-self: flex-start;
}
.goole span {
  justify-self: center;
}

.google span {
  color: white;
}

.banner {
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}

.banner img {
  width: 100%;
}

#logo {
  width: 100px;
}

#campaign img {
  width: 100%;
  margin-left: 0;
  max-height: 100%;
  height: auto;
}

.header-btn a:last-child {
  display: none;
}

@media screen and (max-width: 1180px) {
  .sales {
    display: none;
  }

  .width {
    padding: 4vw;
  }
  .buttons {
    flex-direction: column;
    text-align: center;
  }

  .google {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .google span {
    justify-content: center;
    padding-left: 4rem;
    padding-right: 1rem;
  }

  .about {
    flex-shrink: 0;
  }

  #campaign {
    flex-shrink: 2;
  }
}

@media screen and (max-width: 1000px) {
  .sales,
  .free,
  #signin,
  .menu a:not(:first-child) {
    display: none;
  }

  header nav {
    margin: 0 2rem;
  }

  header nav a {
    padding: 0;
  }

  .header-btn a:last-child {
    display: block;
    padding-left: 40px;
  }

  .width {
    padding: 4vw;
  }

  .buttons {
    flex-direction: column;
  }

  .google span {
    justify-self: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    white-space: nowrap;
  }

  .about h1 {
    font-size: 2rem;
  }
}
